# ============================================================
# PLG - 2026 / Groupe 24 : ESTIAM - Paris
# terraform.tfvars.example
# ============================================================

# ----------------------------
# Général
# ----------------------------
rg_name  = "RG-PLG-ESTIAM-Paris-2026"
location = "norwayeast"

# ----------------------------
# Authentification VMs
# ----------------------------
admin_username      = "scripttools_plgEstiam"
ssh_public_key_path = "/home/azure-4clazur/.ssh/hubspoke_rsa.pub"

# ----------------------------
# Application / GitHub
# ----------------------------
github_repo_url = "https://github.com/dspitech/plg-projet-pedagogique-2026-groupe-24.git"
repo_name       = "plg-projet-pedagogique-2026-groupe-24"
github_owner    = "dspitech"
github_pat      = ""

# ----------------------------
# Supabase (SECRETS — à ne jamais committer avec de vraies valeurs)
# ----------------------------
supabase_url      = ""
supabase_anon_key = ""
database_url      = ""


# ----------------------------
# Supervision (Grafana admin password — SECRET)
# ----------------------------
grafana_admin_user     = "admin"
grafana_admin_password = "Dspi@1996@Estiam12"
grafana_allowed_source = "81.220.68.129/32" # ajoutez votre IP publique en /32 si besoin d'accès direct
monitoring_vm_size = "Standard_D2s_v3"

# ----------------------------
# Tags
# ----------------------------
tags = {
  Project     = "Deployment-Script-Tools"
  Environment = "Production"
  ManagedBy   = "Terraform"
  Author      = "PLG-Groupe24-ESTIAM-2026"
}
